html{
	overflow-x: hidden;

.form {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10% 15%;



}

.form form {
	padding: 5%;
	background-color: cyan;
	width: 250px;
	text-align: center;
	
	box-shadow: 10px 10px 10px 10px #888888;
}

.form form h4 {
	font-size: 36px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.form form .box {
	width: 100%;
	margin: 10px 0;
	color: black;
	background-color: white;
	padding: 10px 15px;

}

.message{
	position: sticky;
	top:0;
	margin: 0 auto;
	max-width: 1200px;
	background-color: white;
	padding: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 10000;
	gap: 5px;
}

.message span{
	font-size: 20px;
	color: black;
}

.btn {
	display: inline-block;
	margin-top: 8px;
	padding: 5px 15px;
	cursor: pointer;
	color: white;
	font-size: 22px;
	border-radius: 10px;
	text-transform: capitalize;
}

.btn {
	background-color: blue;
}

.btn:hover {
	background-color: red;
}

.form form p a:hover {
	color: red;
	text-decoration: none;
}