html{
	overflow-x: hidden;
}

body{
	background-color: #FFF3D9;
}

.header .header-1 {
	background-color: #DC4731;
}

.header .header-1  .flex{
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1200px;
}

.header .header-1  .flex .logo {
	font-size: 3rem;
	color: #3B0918;
}

.header .header-1  .flex .logo-nav{
	margin-left: 30%;
}

.header .header-1  .flex .logo-nav span{
	color: #FFF3D9;
}

.header .header-1  .flex .logo-nav a{
	text-decoration: none;
}

.header .header-1  .flex .logo-nav a:hover{
	text-decoration: underline;
}

.header .header-1  .flex p a{
	font-size: 1.3rem;
	color: #FFF3D9;
}

.header .header-1  .flex p a:hover {
	color: #3B0918;
}

.header .header-2 {
	background-color: #B8390E;
	padding: 1.3rem;
}

.header .header-2.active {
	position: fixed;
	top: 0; left: 0; right: 0;
/*	used to have navbar have display priority*/
	z-index: 1000;
}

.header .header-2  .flex{
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
/*	max-width: 1200px;*/
}

.header .header-2  .flex .navbar{
	
}

.header .header-2  .flex .navbar a{
	margin: 0 .5rem;
	font-size: 1rem;
	color: #FFF3D9;
	text-decoration: none;
	text-transform: uppercase;
}

.header .header-2  .flex .navbar a:hover{
	color: #3B0918;
}

.header .header-2  .flex .icons > *{
	font-size: 1.2rem;
	color: #FFF3D9;
	cursor: pointer;
	margin-left: 1rem;
}

.header .header-2  .flex .icons > *:hover{
	color: #3B0918;
}

#menu-btn{
	display: none;
}


.form {
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10% 15%;
}

.form form {
	padding: 5%;
	background-color: darkcyan;
	width: 250px;
	text-align: center;
	
	box-shadow: 10px 10px 10px 10px #888888;
}

.form form h4 {
	font-size: 36px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.form form .box {
	width: 100%;
	margin: 10px 0;
	color: black;
	background-color: white;
	padding: 10px 15px;

}

.form select{
	width: 100rem;
}

.message{
	position: sticky;
	top:0;
	margin: 0 auto;
	max-width: 1200px;
	background-color: white;
	padding: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 10000;
	gap: 5px;
}

.message span{
	font-size: 20px;
	color: black;
}

.message i:hover{
/*	transform: rotate(90deg);*/
	cursor: pointer;
}

.title{
 	text-align: center;
 	margin-top: 3rem;
 	margin-bottom: 2rem;
 	text-transform: uppercase;
 	color: #B8390E;
 	font-size: 5rem;
 }


.btn, .option-button, .delete-btn, .white-btn {
	display: inline-block;
	margin-top: 8px;
	padding: 5px 15px;
	cursor: pointer;
	color: white;
	font-size: 22px;
	border-radius: 10px;
	text-transform: capitalize;
}

.btn, {
	background-color: blue;
}

.white-btn {
	background-color: #3B0918;
	text-decoration: none;
}

.option-button{
	background-color: orange;
}

.btn:hover, .option-button:hover, .delete-btn:hover {
	background-color: red;
}

.white-btn:hover{
	background-color: #DC4731;
}

.delete-btn{
	background-color: yellow;
}

.form form p a{
	color: blue;
}

.form form p a:hover {
	color: palevioletred;
	text-decoration: none;
}

/*user-box*/
.header .header-2 .flex .user-box{
	position: absolute;
	top: 9rem;
	right: 2rem;
	border: 2px solid #B8390E;
	box-shadow: 10px 10px 5px #3B0918;
	padding: .5rem 1.5rem;
	text-align: center;

	display: none;
	animation: fadeIn .2s linear;
}

.header .header-2 .flex .user-box.active {
	display: inline-block;
}

.header .header-2 .flex .user-box p{
	color: #3B0918;
	font-size: 1.3rem;
}

.header .header-2 .flex .user-box p span{
	color: #DC4731;
}

.header .header-2 .flex .user-box .delete-btn{
	margin-bottom: 1.5rem;
	background-color: #FFF3D9;
	color: #3B0918;
	text-decoration: none;
	border: solid #DC4731;
}

.header .header-2 .flex .user-box .delete-btn:hover{
	color: #FFF3D9;
	background-color: #DC4731;
}

/*footer*/
.footer {
	background-color: #DC4731;
}

.footer .box-container {
	max-width: 1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
	gap: 1.5rem;
	padding-bottom: 1rem;
}

.footer .box-container .box h3 {
	text-transform: uppercase;
	color: #FFF3D9;
	font-size: 1.8rem;
	margin-bottom: .5rem;
}

.footer .box-container .box a,
.footer .box-container .box p {
	display: block;
	font-size: 1.3rem;
	color: #FFF3D9;
	padding: .4rem 0;
	text-decoration: none ;
}

.footer .box-container .box a i,
.footer .box-container .box p i {
	color: #3B0918;
	padding-right: .5rem;
	cursor: pointer;
}

.footer .box-container .box a:hover{
	color:#3B0918;
	text-decoration: underline;
}


/*user home page*/
.home{
	min-height: 60vh;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/home.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.home .content {
	text-align: center;
	width: 50rem;
}

.home .content h3 {
	font-size: 3rem;
	color: #FFF3D9;
	text-transform: uppercase;
}

/*user products*/

.products .box-container{
/*	max-width: 1200px;*/
	
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, 30rem);
	gap: 1.5rem;
	padding-bottom: 1rem;
	align-items: flex-start;
	justify-content: center;
}

/*.products{
	max-width: 1200px;
	
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, 30rem);
	gap: 1.5rem;
	padding-bottom: 1rem;
	align-items: flex-start;
	justify-content: center;
}*/

.products .box-container .box{
	background-color: #DC4731;
	padding: 2rem;
	text-align: center;
	border: .2rem solid;
	border-radius: 3rem;
/*	height: 30rem;*/
	width: 20rem;
	position: relative;
}

.products .box-container .box .image {
	height: 20rem;
	width: 15rem;
}

.products .box-container .box .name {
	padding: 1rem 0;
	font-size: 1.3rem;
	color: #FFF3D9;
}

.products .box-container .box .qty {
	width: 85%;
	font-size: 1rem;
	padding: 0.6rem;
	border: .2rem solid;
	border-radius: 3rem;
	margin: 1rem 0;
	background-color: #FFF3D9;
	color: #3B0918;
}

.products .box-container .box .price {
	padding: 1rem 0;
	font-size: 1.8rem;
	color: #DC4731;
	position: absolute;
	top: 1rem;
	left: 1rem;
	padding: .5rem 1rem;
	background-color: #FFF3D9;
	border-radius: 3rem;
	border: solid .2rem #3B0918;
}

/*about section*/
.about .flex{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.about .flex .image{
	flex: 1 1 35rem;
}

.about .flex .image img {
	width: 30rem;
	height: 20rem;
}

.about .flex .content{
	flex: 1 1 20rem;
	padding: 1.5rem;
	background-color: #DC4731;
}

.about .flex .content h3 {
	font-size: 2rem;
	color: #FFF3D9;
	text-transform: uppercase;
}

.about .flex .content p {
	padding: 1rem 0;
	line-height: 1.5;
	font-size: 1.3rem;
	color: #FFF3D9;
}

.about .flex .content .btn {
	background-color: #3B0918;
	text-decoration: none;
}

.about .flex .content .btn:hover {
	text-decoration: underline;
}

/*home- contact us section*/

.home-contact{
	background-color: black;
}

.home-contact .content{
	max-width: 50rem;
	text-align: center;
	color: #FFF3D9;
	margin: 0 auto;
	padding: 2rem 0;
}

.home-contact .content h3 {
	font-size: 2.5rem;
	text-transform: uppercase;
}

.home-contact .content p {
	padding: 1rem 0;
	line-height: 1.5;
	font-size: 1.3rem;
}





@keyframes fadeIn {
	0%{
		transform: translateY(1rem);
		opacity: .2s;
	}
}

/* media queries */

@media (max-width:991px){
	html{
		font-size: 55%;
	}
}

@media (max-width: 768px){
	.header .header-2 .flex .navbar{
		position: absolute;
		top: 9%; left:0; right: 0;
		background-color: #DC4731;
		border-top: solid;
		border-bottom: solid;

		display: none;
	}

	.header .header-2 .flex .navbar.active{
		position: absolute;
		top: 9%; left:0; right: 0;
		background-color: #DC4731;
		border-top: solid;
		border-bottom: solid;

		display: block;
	}

	.header .header-2 .flex .navbar a{
		display: block;
		margin: 2rem;
		font-size: 1.3rem;
	}
	#menu-btn{
		display: inline-block;
	}

	.home .content h3{
		font-size: 2rem;
	}
}

@media (max-width:450px){
	html{
		font-size: 50%;
	}

	.title{
		font-size: 2.5rem;
	}
}























